# .dockerignore
# --- dependency directories ---
.next
node_modules
pnpm-lock.yaml      # remove if you’re using pnpm and want it copied
.yarn
# --- build artifacts ---
.next
.turbo
dist
build
coverage
# --- VCS & editor gunk ---
.git
.gitignore
.vscode
.idea
.DS_Store
# --- logs, misc ---
*.log

__test__
example-data
jest.config.js